@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 97vh;
    font-family: "Lexend Giga", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #a9dbfd, #fff, #fff);
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo h1{
    font-size: 80px;
    color: #4169e1;
    text-shadow: 3px 5px black;
    margin: 0px ;
}

.logo h2{
    font-size: 20px;  
}